.container{
    display: flex;
    justify-content: center;
    background-color: rgb(236, 243, 247);
    
    background-color: #000a;
    padding-top: 1rem;
}

.followinCard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 10rem;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto 2rem auto;

}