.container{
    display: flex;
    justify-content: center;
    width: 1354px;
    height: 550px;
    /* padding-top: 15rem; */
}

.signCard {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15rem;

    width: 100%;
    min-width: 10rem;
    height: 100%;
    min-height: 100vh;
 
    background-color: #0005;
}