.container * {
  box-sizing: border-box;
}

.container {

  display: flex;
  flex-direction: column;
  width: 25em;
  max-width: 25em;

  padding: 1em 1.5em;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0 0.25em 0.5em #0005;
  resize: none;
  border: none;
}

.wrapper h5{
  margin-top: 0;
  margin-left: 1rem;
}

.select{
  width: 60%;
  margin-left: 5rem;
  border: none;
}

.submit {
  border: none;
  border: 2px solid #aaa;
  margin: 1em 0 0 0;
  padding: 1em;
}

.inputGroup {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding: 0 0 0 1em;
  overflow: hidden;
  gap: 2rem;

/* text-align: center; */
  /* justify-content: center; */
  margin-left: 3rem;
  width: 70%;
  margin-top: 1rem;
  justify-content: center;
  /* border-bottom: 2px solid hsl(226deg, 100%, 70%); */
}

.active{
  margin-top:0 ;
  width: 70%;
  border-bottom: 1px solid hsl(226deg, 100%, 70%);
}

.inputGroup textarea {
  border: none;
  outline: 0;
  width: 45rem;
  height: 6rem;
  /* width: 98rem; */
}



.inputGroup:focus-within {
  border-bottom: 2px solid hsl(226deg, 100%, 70%);
}

.inputGroup:focus-within.error {
  color: #f33;
  border-bottom: 2px solid red;
}

.error {
  margin-top: 0.2rem;
  color: #f33;
  border-bottom: 2px solid red;
}

form button[type="submit"] {
  border-radius: 5em;
  /* width: 25em; */

  border: none;
  background-color: hsl(226deg, 100%, 70%);
  width: 100%;
  /* background: linear-gradient(90deg, #668aff 0%, #003cff 50%, blue 100%); */
  transition: all 0.3s ease-in-out;
  color: white;
  cursor: pointer;
}

form button[type="submit"]:hover {
  color: black;
  outline: 2px solid #1e1e1e !important;

}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e1e1e;
  border-bottom: 1px solid #1e1e1e;
}

.errorSpan {
  margin-top: 0.3rem;
  color: #f33;
  margin-left: 2.7rem; 
  font-size: .8rem;

}

.chart {
  font-size: .8rem;
  margin-left: 2.7rem; 

}
