.container * {
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 50em;
    height: 30rem;
    max-width: 50em;
    margin-bottom: 1rem;
    padding: 1em 1.5em;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 0.25em 0.5em #0005;
    margin-bottom: 10rem;

    resize: none;
    border: none;
}

.data {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
    padding-bottom: 1rem;
}

.data span {
    padding-left: 1rem;
}

.data h4 {
    margin-top: 0;
    margin-bottom: .5rem;
    padding-top: 0;
}

.inputGroup {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 0.2rem 0 0.2rem 1.3em;
    overflow: hidden;
    gap: rem;
    margin-top: .3rem;
    max-width: 15rem;
    margin-bottom: 1rem;

}

.inputGroup input {
    border: 0;
    outline: none;
}

.inputGroup:focus-within {
    /* width: 15rem; */
    border-bottom: 2px solid hsl(226deg, 100%, 70%);

}

.inputGroup:focus-within.error {
    color: #f33;
    border-bottom: 2px solid red;
}

.error {
    color: #f33;
    border-bottom: 2px solid red;
}

.errorSpan {
    margin-top: 0.5rem;
    color: #f33;
}

.title {
    display: flex;
    justify-content: center;
    color: #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
    margin-bottom: 1rem;
}

.buttonContainer {

    display: flex;
    position: relative;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid #1e1e1e;
    bottom: 0rem;
    padding: 1em;
    /* padding-top: 2rem; */
}

.btn button[type="submit"] {
    border-radius: 5em;
    border: none;
    color: #fff;
    width: 8rem;
    display: flex;
    justify-content: center;
    padding: 1em;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.save button {
    background-color: hsl(226deg, 100%, 70%);
}

.delete button {
    background-color: red;
}

.btn button[type="submit"]:hover {
    color: black;
    outline: 1px solid black;
}

.close button {
    background-color: orange;
}

.btn {
    border: none;
    margin-left: 1rem;
    cursor: pointer;
}

.btn :hover {
    color: hsl(226deg, 100%, 70%);

}

.edit div {
    margin-left: 2em;
    margin-top: .5rem;
    height: 3rem;
    /* margin-bottom: 1rem; */
    /* width: 10%; */

}



.edit {
    margin-top: 1rem;
    height: 17.5rem;
    padding-right: 1rem;
}


.editFeedback{
    margin-top: 1rem;
    height: 10.5rem;
    padding-right: 1rem;
}

.editFeedback div {
    margin-left: 2em;
    margin-top: .5rem;
    height: 3rem;
    /* margin-bottom: 1rem; */
    /* width: 10%; */

}

.wrapper {
    /* height:rem; */
    width: 40%;
    margin-top: 0;
    font-size:medium;
    border: none;
    padding: 0;
    margin-bottom: 1rem;
    /* padding-left:5rem; */
    /* margin-left: 5rem; */
    /* margin: 0; */
    /* margin-bottom: 1rem; */
    /* margin-left: 1rem; */
}

.select {
    /* width: 150%; */
    /* height: 1rem; */
    /* height: %; */
    /* margin-left: 5rem; */
    /* border: none;
    padding: 0px; */
    /* margin: 0; */
}

.containerEdit {
    display: flex;
    position: relative;
    flex-direction: column;
    /* gap: 10rem; */
    /* justify-content: space-evenly; */
    bottom: 0rem;
    width: 10%;
    /* flex-direction:row; */
    
}

.descrip {
    margin-left: 0rem;
    height: 4rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.feedback{
    margin-top: 0;
    padding-top: 1rem;
    padding-left: 2rem;
    margin-bottom: 3.5rem;
}

.feedback div{
    margin-left: 2rem;
    margin-top: .5rem;
}