.container{
    display: flex;
    justify-content: center;
    /* background-color: rgb(236, 243, 247); */
    background-color: black;
    overflow:hidden;
}

.newTicket{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 0%;
    left: 0%;
    width: 100%;
    min-width: 10rem;
    /* height: 100; */
    /* min-height: 20vh; */
    margin: 0 auto 2rem auto;
    background-color: #000a;
    overflow:scroll;
    padding-top: 4rem;
    padding-bottom: 10rem;
}