.container * {
  box-sizing: border-box;
}

.container {
  --pX: 1.5em;
  display: flex;
  flex-direction: column;
  width: 25em;
  max-width: 25em;
  padding: 1em 1.5em;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0 0.25em 0.5em #0005;
  resize: none;
  border: none;
}

.wrapper h5{
  margin-top: 0;
}


.wrapper h2{
  margin-bottom: 1rem;
}

.wrapper textarea {
  border: none;
  outline: 0;
  height: 5rem;
  margin-top: 1rem;
}



.wrapper input{
  /* margin-top: 0; */
  margin-bottom: 1rem;
  cursor: pointer;
}



.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  width: 100%;
  justify-content: center;
  /* border-bottom: 1px solid #ccc; */
  background-color: #fff;
  /* padding: 0 0 0 1em; */
  overflow: hidden;
  /* gap: 2rem; */

}

.inputGroup div{
  /* margin-bottom:1rem ; */
  /* width: 5rem; */
  border-bottom: 2px solid hsl(226deg, 100%, 70%);

}

.error {
  margin-top: 0.2rem;
  color: #f33;
  border-bottom: 2px solid red;
}

form button[type="submit"] {
  border-radius: 5em;
  border: none;
  padding: 1em;

  background-color: hsl(226deg, 100%, 70%);
  /* background: linear-gradient(90deg, #668aff 0%, #003cff 50%, blue 100%); */
  transition: all 0.3s ease-in-out;
  color: white;
  cursor: pointer;
}

form button[type="submit"]:hover {
  color: black;
  outline: 2px solid #1e1e1e !important;

}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e1e1e;
  border-bottom: 1px solid #1e1e1e;
}

.errorSpan {
  margin-top: 0.2rem;
  color: #f33;
}